// styles shit
* {
  background-color: lightblue;
}
.project-card {
  border: solid;
}

.filters {
  display: flex;
  margin-block: 10px;
  div {
    margin-inline: 10px;
  }
  button {
    border-radius: 8px;
  }
}
